.grid{
    background-color: rgb(55, 114, 71);
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    padding: 10px;
}

.top{
    display: flex;
    justify-content: center;
}

.a1{
    color: white;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-top: 2%;
}

.tododisplay{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.bottomTodo{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.todo1{
    width: 140px;
    word-break: break-all;
}

.todo2{
    width: 70px;
    word-break: break-all;
}

.button1{
    padding: 5px;
    background-color: rgb(233, 49, 49);
    border: none;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.topper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.botter{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.finishtodo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 2%;
}

.b1{
    color: rgb(149, 216, 234);
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
